.venv/
sku110k_dataset/
.vscode/
masterproef/dataprocessing/cropped_images/
apex/
vissl/
SKU110K/
CornerShop/
cropped_images*/
checkpoints/
logfile_*
specifiek/

#ipython notebook stuff
.ipynb_checkpoints/
data/
runs/
